@using EmotesForTeam.Model
@using EmotesForTeam.Services
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inherits CardGridBase

@if (cardViewModels != null && cardViewModels.Any())
{
    <div class="grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-x-100 gap-y-4">
        @foreach (var cardViewModel in cardViewModels)
        {   
            <div @onclick="@(() => NavigateToCardDetail(cardViewModel.Card.Id))" class="w-[202px] h-[259px] relative bg-white rounded-[6.7px] shadow-xl cursor-pointer transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-2xl">
                <button style="cursor: pointer; position: absolute; right: 10px; top: 10px; z-index: 1;" @onclick="() => ToggleFavorite(cardViewModel)">
                    <img src="@GetHeartImageUrl(cardViewModel.IsFavorite)" alt="Heart" />
                </button>
                <button class="w-[77px] h-7 left-[110px] top-[207px] absolute bg-blue-600 rounded-[6.7px] font-bold text-white hover:bg-blue-700 active:scale-90 transition duration-150 ease-in-out transform flex justify-center items-center">
                    Quick Add
                </button>
                <button class="w-[77px] h-7 left-[16px] top-[207px] absolute bg-indigo-900 rounded-[13.4px] text-white text-xs font-medium flex justify-center items-center">
                    Manage List
                </button>
                <div class="absolute top-[172px] w-full flex justify-center">
                    <p class="text-blue-600 font-medium">@cardViewModel.Card.Title</p>
                </div>
                <div class="w-[200px] h-[200px] absolute flex justify-center items-center">
                    <img src="@cardViewModel.Card.ImageUrl" alt="@cardViewModel.Card.Title" class="self-center max-w-auto h-auto" />
                </div>
            </div>
        }
    </div>
}

<div class="flex justify-between mt-4">
    <button @onclick="PreviousPage" class="btn-previous bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" disabled="@IsFirstPage">Previous</button>
    <button @onclick="NextPage" class="btn-next bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" disabled="@IsLastPage">Next</button>
</div>
